<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <div ng-view>
      <div ng-controller="CitiesCtrl as cities">
          <div>
              <h2>Select city:</h2>
              <ul id="cities">
                  <li class="element" ng-repeat="item in cities.items">
                      <a ng-click="cities.showCityInfo(item, $index)" href="#">{{ item.name }}</a>
                  </li>
              </ul>
          </div>
          <div>
              <button id="order-asc-btn" ng-click="cities.sortByTemperature(false)">T. ASC</button>
              <button id="order-desc-btn" ng-click="cities.sortByTemperature(true)">T. DESC</button>
          </div>
          <div>
              <table id="main-table" ng-show="cities.selectedCity">
                  <tr class="main-table-heading">
                      <td>Name</td>
                      <td>Location</td>
                      <td>Weather</td>
                      <td>Icon</td>
                      <td>Temperature (range)</td>
                      <td>Pressure</td>
                      <td>Humidity</td>
                  </tr>
                  <tr class="main-table-data">
                      <td>{{cities.selectedCity.name}}</td>
                      <td>Lat: {{cities.selectedCity.coord.lon}} - Lon: {{cities.selectedCity.coord.lat}}</td>
                      <td>{{cities.selectedCity.weather[0].main}}</td>
                      <td><img ng-src="http://openweathermap.org/img/w/{{cities.selectedCity.weather[0].icon}}.png"/></td>
                      <td>{{cities.selectedCity.main.temp}} ({{cities.selectedCity.main.temp_min}} - {{cities.selectedCity.main.temp_max}})</td>
                      <td>{{cities.selectedCity.main.pressure}}</td>
                      <td>{{cities.selectedCity.main.humidity}}</td>
                  </tr>
              </table>
          </div>
      </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/factories/DataFactory.js"></script>
  <script src="js/factories/FeedFactory.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
